.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);
}

.contact h1, p {
    color: var(--DarkBlue);
}

.contact .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    margin-top: 64px;
}
.contact .heading hr {
    width: 100%;
    height: 4px;
    background-color: var(--DarkBlue);
}

.contact p {
    margin-top: 80px;
    width: 350px;
}

.contact .sep hr {
    width: 120px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    gap: 64px;
}

.contact-form input {
    font-family: 'Baloo 2', cursive;
    font-size: 30px;
    font-weight: bold;
    color: var(--FormText);
    border: none;
    background: none;
    border-bottom: 4px solid var(--FormText);
    width: 25vw;
}

.contact-form textarea {
  width: 25vw;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: bolder;
  border-bottom: 4px solid var(--FormText);
  resize: none;
  color: var(--DarkBlue);
  font-family: 'Baloo 2', cursive;
}
.contact-form .submit {
    width: 120px;
    border: none;
    border-left: 4px solid var(--DarkBlue);
    border-right: 4px solid var(--DarkBlue);
    color: var(--DarkBlue);
    font-size: 20px;
    font-weight: normal;
}

.contact-form input:focus {
    border: none;
    border-bottom: 4px solid var(--DarkBlue);
    color: var(--DarkBlue);
}

.contact-form textarea:focus {
    border: none;
    border-bottom: 4px solid var(--DarkBlue);
    color: var(--DarkBlue);
    outline: none;
}

@media (max-width: 768px) {
  .contact .heading {
    width: 90vw;
    margin-top: 32px;
  }
  .contact p {
    width: 90vw;
    margin-top: 40px;
    font-size: 15px;
  }
  .contact-form {
    gap: 32px;
    margin-top: 32px;
    width: 90vw;
  }
  .contact-form input {
    font-size: 20px;
    width: 40vw;
  }
  .contact-form textarea {
    width: 40vw;
  }
  .contact-form .submit {
    width: 90px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .contact .heading {
    width: 98vw;
    margin-top: 16px;
  }
  .contact p {
    width: 98vw;
    margin-top: 20px;
    font-size: 13px;
  }
  .contact-form {
    gap: 16px;
    margin-top: 16px;
    width: 98vw;
  }
  .contact-form input {
    font-size: 16px;
    width: 60vw;
  }
  .contact-form textarea {
    width: 60vw;
  }
  .contact-form .submit {
    width: 70px;
    font-size: 13px;
  }
}